
 /* background color and spacing all around*/
 body {
    font-family: papyrus, copperplate, fantasy;
    padding: 10px;
    background: #c95f0d;
}
/* header*/
.header{
   padding: 15px;
   font-size: 50px; 
   text-align: center;
   background: #b0848a;
}
/*columns*/
.leftcolumn{
  float:left;
  width: 70%;  
}
.rightcolumn{
    float: right;
    width: 30%;
    padding-left: 40px;
}
/*image placeholder fake image*/
.fakeimg{
    background-color: #0cb7c9;
    width: auto;
    padding: 10px;
}
/* card for text */
.card {
background-color: #b0848a;
padding: 50px;
margin-top: 50px;
}
.row:after {
content: "";
display: table;
clear: both;
}